<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>Home</h2>
<p>Welkom in my webshop</p>

<p>Product of the month: {{product.name}} </p>

<a href="producten.php">Producten</a>
    
</body>
</html>